.todo {
  width: 800px;
  max-width: 100%;
}

.todo__form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem
}

.todo__form__input,
.todo__form__add {
  padding: .5rem;
  font-size: 18px;
}

.todo__form__buttons {
  display: flex;
  gap: .5rem;
  margin: 1rem 0;
}

.todo__list {
  margin: 0;
  padding: 0;
}

.todo__listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.todo__listItem__buttons {
  display: flex;
  gap: .5rem;
}